.artist{
font-size:14pt; 
font-family:arial; 
font-weight:bold; 
color:moccasin;
}
.title{
font-size:14pt; 
font-family:arial; 
font-weight:normal; 
color:khaki;
}
.album{
font-size:12pt; 
font-family:arial; 
font-weight:normal; 
color:khaki;
}
.year{
font-size:12pt; 
font-family:arial; 
font-weight:bold; 
color:ivory;
}
.verse{
font-size:14pt; 
font-family:TrebuchetMS; 
font-weight:bold; 
color:gold; 
margin-left:2cm; 
margin-right: 2cm;
}
.chorus{
font-size:14pt; 
font-family:TrebuchetMS; 
font-weight:bold; 
font-style:italic;
color:gold; 
margin-left:4cm; 
margin-right: 4cm;
}
body{
background-color:Chocolate;
}